<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/597dc672-3e10-4c66-9c7c-60fd6b1b1617/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/SaaSWebAppapi/apis/SaaSWebApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/597dc672-3e10-4c66-9c7c-60fd6b1b1617/resourceGroups/MultiTenantResourceGroup/providers/Microsoft.Web/sites/SaaSWebApp</ResourceId>
    <ResourceGroup>MultiTenantResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://saaswebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5e8ae02e-96cc-48dc-abe6-3078907f3075</ProjectGuid>
    <PublishUrl>https://saaswebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SaaSWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>